<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Interview - <%= htmlWebpackPlugin.options.title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XTM966QG1M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XTM966QG1M');
    </script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.unfurproject.com/assets/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.unfurproject.com/assets/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.unfurproject.com/assets/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.unfurproject.com/assets/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.unfurproject.com/assets/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.unfurproject.com/assets/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://www.unfurproject.com/assets/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.unfurproject.com/assets/icons/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="UNFUR Project"/>
    <meta name="msapplication-TileColor" content="#222222" />
    <meta name="msapplication-TileImage" content="https://www.unfurproject.com/assets/icons/mstile-144x144.png" />

    <meta name="description" content="Fur fashion to fight the fur industry"/>
    <link rel="canonical" href="https://www.unfurproject.com"/>
    
    <meta property="og:url" content="https://www.unfurproject.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="UNFUR™ Project"/>
    <meta property="og:description" content="Fur fashion to fight the fur industry"/>
    <meta property="og:image" content="https://www.unfurproject.com/assets/icons/unfurproject-thumbnail.jpg"/>
    <meta property="og:image:width" content="960"/> <meta property="og:image:height" content="640"/>
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mobiquityinc">
    <meta name="twitter:creator" content="@mobiquityincEU">
    <meta name="twitter:title" content="UNFUR™ Project"/>
    <meta name="twitter:description" content="Fur fashion to fight the fur industry"/>
    <meta name="twitter:image" content="https://www.unfurproject.com/assets/icons/unfurproject-thumbnail.jpg"/>

    <meta name="theme-color" content="#222222"/>
    <link rel="manifest" href="/site.json">

    <script>var pageType = "interview";</script>


  </head>

  <body class="hold curtain">

    <!-- header -->
    <header class="hide">
      <nav>
        <ul>
          <li><a class="link" href="#intro" title="Unfur™"><span>Unfur™</span></a></li>
          <li><a class="link" href="#about" title="About the project"><span>About the project</span></a></li>
          <li><a class="link" href="#technology" title="Technology"><span>Technology</span></a></li>
          <li><a class="link" href="#collection" title="NFT collection"><span>NFT collection</span></a></li>
          <li><a class="link" href="#designers" title="Designers"><span>Designers</span></a></li>
          <li><a class="link" href="#ngo" title="IFAC"><span>IFAC</span></a></li>
          <li><a class="link" href="#interviews" title="Interviews"><span>Interviews</span></a></li>
        </ul>
        <button class="menuTrigger"><span class="hide">menu</span></button>
      </nav>
    </header>
    <!-- /header -->

    <main>
      <section id="interview" class="on">
        
        <div class="first">
          <aside class="top"></aside>
          <aside class="left"></aside>
          <aside class="right"></aside>
        </div>

      </section>
    </main>

    <footer>
      <ul>
        <li><p class="tiny">© 2022, Mobiquity Inc.</p></li>
        <li><a href="javascript:void(0);" class="link credits-trigger" title="Credits"><span>Credits</span></a></li>
        <li class="right"><p class="tiny">NFT collection to help fight the fur industry.</p></li>
      </ul>
    </footer>

    <div class="credits">
      <div class="inside">
        <ul></ul>
      </div>
      <button class="close"><span class="hide">Close</span></button>
    </div>

    <a href="https://thefwa.com/cases/unfur-p2" rel="nofollow" target="blank" class="fotd"><span class="hide">FWA of The Day</span></a>

  </body>
</html>
