// fonts
$font-size: 1rem;
$font-primary: 'Vela', sans-serif;
$font-secondary: 'RM', monospace;

// colors
$pink: #E4CBCB;
$white: #FFFFFF;
$red: #F47C7C;
$black: #222222;
$darker: #161616;

// breakpoint
$breakpoint-mobile: 900px;

$ns: 40vw;